@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-image: url("./img/bannerHeader.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
}
header .box-header {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 6vh;
  border-radius: 50px;
  background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
  box-shadow: 0 6px 10px rgba(66, 2, 162, 0.4);
}
header .box-header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  height: 10vh;
}
header .box-header nav a {
  color: #fff;
  font-family: "Roboto", sans-serif;
}
header .box-header nav a:hover {
  transition: all 0.3s ease;
  color: #17345c;
}

.box-banner {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;
}
.box-banner .box-titulo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60vh;
  width: 30vw;
}
.box-banner .box-titulo h1 {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.box-banner .box-titulo p {
  font-size: 1.7rem;
  font-weight: 400;
}
.box-banner .box-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 6vh;
}
.box-banner .box-btn .btn-azul {
  height: 4vh;
  width: 12vw;
  border-radius: 8px;
  background-color: #1173d4;
  color: #fff;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}
.box-banner .box-btn .btn-azul:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}
.box-banner .box-btn .btn-branco {
  height: 4vh;
  width: 8vw;
  background-color: #f9fafb;
  color: #1173d4;
  border: solid 1px;
  font-size: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
}
.box-banner .box-btn .btn-branco:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.box-exrotina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 65vh;
  width: 100%;
  background-color: #f8f9fa;
}
.box-exrotina .box-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 23vh;
  width: 80%;
}
.box-exrotina .box-txt h2 {
  font-size: 2.7rem;
  font-weight: bold;
  background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.box-exrotina .box-txt p {
  font-size: 1.4rem;
}
.box-exrotina .box-card-exrotina {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 37vh;
}
.box-exrotina .box-card-exrotina .card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  height: 20vh;
  width: 15vw;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.box-exrotina .box-card-exrotina .card h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #04031c;
  padding: 15px;
}
.box-exrotina .box-card-exrotina .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.box-prevfem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: #fdefef;
}
.box-prevfem h2 {
  font-size: 2.7rem;
  font-weight: bold;
  background: linear-gradient(to right, rgba(249, 1, 111, 0.54) 0%, rgba(147, 8, 133, 0.62) 41.83%, rgba(208, 56, 170, 0.75) 70.19%, #851c87 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.box-prevfem .cards-prevfem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  width: 50%;
}
.box-prevfem .cards-prevfem .cardfem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #fff;
  height: 36vh;
  width: 13vw;
  border-radius: 10px;
  padding-top: 10px;
  gap: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.box-prevfem .cards-prevfem .cardfem h3 {
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: 700;
}
.box-prevfem .cards-prevfem .cardfem ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  width: 10vw;
  height: 20vh;
  font-size: 0.8rem;
}
.box-prevfem .cards-prevfem .cardfem ul li {
  font-family: "Roboto";
}
.box-prevfem .cards-prevfem .cardfem:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.box-prevmasc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: #f8f9fa;
}
.box-prevmasc h2 {
  font-size: 2.7rem;
  font-weight: bold;
  background: linear-gradient(90deg, #3373d2 16.04%, #6f95c7 33.14%, #7bb5f5 54.51%, #0074ee 68.5%, #5ea7ef 87.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.box-prevmasc .cards-prevmasc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  width: 50%;
}
.box-prevmasc .cards-prevmasc .cardmasc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #fff;
  height: 36vh;
  width: 13vw;
  border-radius: 10px;
  padding-top: 10px;
  gap: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.box-prevmasc .cards-prevmasc .cardmasc h3 {
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: 700;
}
.box-prevmasc .cards-prevmasc .cardmasc ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  width: 10vw;
  height: 20vh;
  font-size: 0.8rem;
}
.box-prevmasc .cards-prevmasc .cardmasc ul li {
  font-family: "Roboto";
}
.box-prevmasc .cards-prevmasc .cardmasc:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.box-alertas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 65vh;
}
.box-alertas .h2-alerta {
  font-size: 2.7rem;
  font-weight: bold;
  background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.box-alertas .cards-alertas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 45vh;
  width: 60%;
}
.box-alertas .cards-alertas .card-rosa {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 16vh;
  width: 25vw;
  border-radius: 10px;
  background-color: #f9d5e5;
  text-align: center;
}
.box-alertas .cards-alertas .card-rosa .paragrafo {
  display: flex;
  height: 8vh;
  width: 24vw;
  align-items: center;
}
.box-alertas .cards-alertas .card-rosa .box-img {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  height: 7vh;
  width: 100%;
  padding: 10px;
}
.box-alertas .cards-alertas .card-rosa .box-img h2 {
  font-size: 1.1rem;
  font-family: "Roboto";
  color: #ad346a;
  font-weight: 700;
}
.box-alertas .cards-alertas .card-rosa p {
  font-size: 1rem;
  font-family: "Roboto";
  color: #ad346a;
  font-weight: 400;
}
.box-alertas .cards-alertas .card-azul {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 16vh;
  width: 25vw;
  border-radius: 10px;
  background-color: #cfe2f3;
  text-align: center;
}
.box-alertas .cards-alertas .card-azul .paragrafo {
  display: flex;
  height: 8vh;
  width: 24vw;
  align-items: center;
}
.box-alertas .cards-alertas .card-azul .box-img {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  height: 7vh;
  width: 100%;
  padding: 10px;
}
.box-alertas .cards-alertas .card-azul .box-img h2 {
  font-size: 1.1rem;
  font-family: "Roboto";
  color: #2769a3;
  font-weight: 700;
}
.box-alertas .cards-alertas .card-azul p {
  font-size: 1rem;
  font-family: "Roboto";
  color: #2769a3;
  font-weight: 400;
}
.box-alertas .cards-alertas .card-verde {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 16vh;
  width: 25vw;
  border-radius: 10px;
  background-color: #d4edda;
  text-align: center;
}
.box-alertas .cards-alertas .card-verde .paragrafo {
  display: flex;
  height: 8vh;
  width: 24vw;
  align-items: center;
}
.box-alertas .cards-alertas .card-verde .box-img {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  height: 7vh;
  width: 100%;
  padding: 10px;
}
.box-alertas .cards-alertas .card-verde .box-img h2 {
  font-size: 1.1rem;
  font-family: "Roboto";
  color: #244a2d;
  font-weight: 700;
}
.box-alertas .cards-alertas .card-verde p {
  font-size: 1rem;
  font-family: "Roboto";
  color: #244a2d;
  font-weight: 400;
}
.box-alertas .cards-alertas .card-amarelo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 16vh;
  width: 25vw;
  border-radius: 10px;
  background-color: #ffe9c2;
  text-align: center;
}
.box-alertas .cards-alertas .card-amarelo .paragrafo {
  display: flex;
  height: 8vh;
  width: 24vw;
  align-items: center;
}
.box-alertas .cards-alertas .card-amarelo .box-img {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  height: 7vh;
  width: 100%;
  padding: 10px;
}
.box-alertas .cards-alertas .card-amarelo .box-img h2 {
  font-size: 1.1rem;
  font-family: "Roboto";
  color: #976c00;
  font-weight: 700;
}
.box-alertas .cards-alertas .card-amarelo p {
  font-size: 1rem;
  font-family: "Roboto";
  color: #976c00;
  font-weight: 400;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #313461;
  height: 50vh;
}
footer .box-footer {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 80%;
  height: 40vh;
}
footer .box-footer .box-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90%;
  width: 20vw;
}
footer .box-footer .box-img .img {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 75%;
}
footer .box-footer .box-img .box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10vh;
  width: 15vw;
}
footer .box-footer .box-img .box2 h2 {
  font-size: 1rem;
  color: #fff;
  font-family: "Roboto";
  font-weight: 700;
}
footer .box-footer .box-img .box2 p {
  font-size: 0.8rem;
  color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
}
footer .box-footer .links-uteis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  width: 20vw;
}
footer .box-footer .links-uteis .boxh2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vh;
}
footer .box-footer .links-uteis .boxh2 h2 {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
}
footer .box-footer .links-uteis .boxh2 .links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 18vh;
  width: 15vw;
}
footer .box-footer .links-uteis .boxh2 .links a {
  color: #fff;
  font-size: 0.9rem;
}
footer .contatos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vh;
  width: 20vw;
}
footer .contatos h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}
footer .contatos p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
}
footer .contatos .box-sac {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 10vh;
}
footer .contatos .box-sac p {
  font-size: 0.9rem;
  color: #fff;
  font-weight: 400;
  font-family: "Roboto";
}

.box-copy {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 2px #9fabbc;
  height: 10vh;
  width: 100%;
}
.box-copy p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
  font-family: "Roboto";
}

/* Smartphones (768px ou menos) */
@media (max-width: 768px) {
  header {
    background-image: none; /* remove imagem */
    background-color: #fff; /* fundo branco */
    height: auto;
    padding-bottom: 30px;
  }
  header .box-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
    width: 95%;
    background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
  }
  header .box-header img {
    margin: 8px;
    width: 8rem;
  }
  header .box-header nav {
    width: 90%;
    display: flex;
  }
  header .box-header nav a {
    font-size: 0.9rem;
  }
  .box-banner {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 55vh;
  }
  .box-banner .box-titulo {
    width: 90%;
  }
  .box-banner .box-titulo h1 {
    font-size: 2.2rem;
  }
  .box-banner .box-titulo p {
    font-size: 1.5rem;
  }
  .box-banner .box-btn {
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }
  .box-banner .box-btn .btn-azul {
    height: 7vh;
    width: 50vw;
  }
  .box-banner .box-btn .btn-branco {
    height: 7vh;
    width: 40vw;
  }
  /* Cards em coluna */
  .box-exrotina {
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 100vh;
  }
  .box-exrotina .box-txt {
    width: 90%;
    height: auto;
    gap: 15px;
  }
  .box-exrotina .box-txt h2 {
    margin-top: 20px;
    font-size: 1.8rem;
  }
  .box-exrotina .box-txt p {
    font-size: 0.8rem;
  }
  .box-exrotina .box-card-exrotina {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 90%;
  }
  .box-exrotina .box-card-exrotina .card {
    height: 21vh;
    width: 70%;
  }
  .box-exrotina .box-card-exrotina .card img {
    margin: 3px;
    width: 3rem;
  }
  .box-exrotina .box-card-exrotina .card h3 {
    font-size: 1.1rem;
  }
  .box-exrotina .box-card-exrotina .card p {
    font-size: 0.8rem;
    width: 55vw;
  }
  .box-prevfem,
  .box-prevmasc {
    text-align: center;
    height: auto;
    gap: 20px;
    padding-bottom: 35px;
  }
  .box-prevfem h2,
  .box-prevmasc h2 {
    font-size: 1.8rem;
    margin: 40px;
  }
  .box-prevfem .cards-prevfem,
  .box-prevfem .cards-prevmasc,
  .box-prevmasc .cards-prevfem,
  .box-prevmasc .cards-prevmasc {
    height: auto;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    gap: 20px;
  }
  .box-prevfem .cards-prevfem .cardfem,
  .box-prevfem .cards-prevfem .cardmasc,
  .box-prevfem .cards-prevmasc .cardfem,
  .box-prevfem .cards-prevmasc .cardmasc,
  .box-prevmasc .cards-prevfem .cardfem,
  .box-prevmasc .cards-prevfem .cardmasc,
  .box-prevmasc .cards-prevmasc .cardfem,
  .box-prevmasc .cards-prevmasc .cardmasc {
    flex-direction: column;
    width: 80%;
    height: 50vh;
  }
  .box-prevfem .cards-prevfem .cardfem img,
  .box-prevfem .cards-prevfem .cardmasc img,
  .box-prevfem .cards-prevmasc .cardfem img,
  .box-prevfem .cards-prevmasc .cardmasc img,
  .box-prevmasc .cards-prevfem .cardfem img,
  .box-prevmasc .cards-prevfem .cardmasc img,
  .box-prevmasc .cards-prevmasc .cardfem img,
  .box-prevmasc .cards-prevmasc .cardmasc img {
    width: 80px;
    height: auto;
    margin: 20px;
  }
  .box-prevfem .cards-prevfem .cardfem h3,
  .box-prevfem .cards-prevfem .cardmasc h3,
  .box-prevfem .cards-prevmasc .cardfem h3,
  .box-prevfem .cards-prevmasc .cardmasc h3,
  .box-prevmasc .cards-prevfem .cardfem h3,
  .box-prevmasc .cards-prevfem .cardmasc h3,
  .box-prevmasc .cards-prevmasc .cardfem h3,
  .box-prevmasc .cards-prevmasc .cardmasc h3 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 5px;
  }
  .box-prevfem .cards-prevfem .cardfem ul,
  .box-prevfem .cards-prevfem .cardmasc ul,
  .box-prevfem .cards-prevmasc .cardfem ul,
  .box-prevfem .cards-prevmasc .cardmasc ul,
  .box-prevmasc .cards-prevfem .cardfem ul,
  .box-prevmasc .cards-prevfem .cardmasc ul,
  .box-prevmasc .cards-prevmasc .cardfem ul,
  .box-prevmasc .cards-prevmasc .cardmasc ul {
    width: 80%;
    line-height: 1.2rem;
  }
  .box-prevfem .cards-prevfem .cardfem ul li,
  .box-prevfem .cards-prevfem .cardmasc ul li,
  .box-prevfem .cards-prevmasc .cardfem ul li,
  .box-prevfem .cards-prevmasc .cardmasc ul li,
  .box-prevmasc .cards-prevfem .cardfem ul li,
  .box-prevmasc .cards-prevfem .cardmasc ul li,
  .box-prevmasc .cards-prevmasc .cardfem ul li,
  .box-prevmasc .cards-prevmasc .cardmasc ul li {
    text-align: left;
  }
  .box-alertas {
    width: 100%;
    height: 100%;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .box-alertas .h2-alerta {
    font-size: 1.7rem;
  }
  .box-alertas .cards-alertas {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 20px;
  }
  .box-alertas .cards-alertas .card-rosa,
  .box-alertas .cards-alertas .card-azul,
  .box-alertas .cards-alertas .card-verde,
  .box-alertas .cards-alertas .card-amarelo {
    width: 90%;
  }
  .box-alertas .cards-alertas .card-rosa .box-img img,
  .box-alertas .cards-alertas .card-azul .box-img img,
  .box-alertas .cards-alertas .card-verde .box-img img,
  .box-alertas .cards-alertas .card-amarelo .box-img img {
    width: 30px;
  }
  .box-alertas .cards-alertas .card-rosa .box-img h2,
  .box-alertas .cards-alertas .card-azul .box-img h2,
  .box-alertas .cards-alertas .card-verde .box-img h2,
  .box-alertas .cards-alertas .card-amarelo .box-img h2 {
    font-size: 1rem;
  }
  .box-alertas .cards-alertas .card-rosa .paragrafo,
  .box-alertas .cards-alertas .card-azul .paragrafo,
  .box-alertas .cards-alertas .card-verde .paragrafo,
  .box-alertas .cards-alertas .card-amarelo .paragrafo {
    width: 90%;
    height: auto;
  }
  .box-alertas .cards-alertas .card-rosa .paragrafo p,
  .box-alertas .cards-alertas .card-azul .paragrafo p,
  .box-alertas .cards-alertas .card-verde .paragrafo p,
  .box-alertas .cards-alertas .card-amarelo .paragrafo p {
    font-size: 0.8rem;
    margin-bottom: 15px;
  }
  footer {
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  footer .box-footer {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
  }
  footer .box-footer .box-img {
    height: auto;
    width: 90%;
    align-items: center;
  }
  footer .box-footer .box-img img {
    height: 35px;
    align-items: center;
    padding-left: 60px;
  }
  footer .box-footer .box-img .box2 {
    width: 90%;
  }
  footer .box-footer .box-img .box2 h2 {
    width: 100%;
    font-size: 1rem;
  }
  footer .box-footer .links-uteis,
  footer .box-footer .contatos {
    width: 90%;
    align-items: center;
    text-align: center;
  }
  footer .box-footer .links-uteis .boxh2,
  footer .box-footer .contatos .boxh2 {
    width: 90%;
    height: auto;
  }
  footer .box-footer .links-uteis .boxh2 .links,
  footer .box-footer .contatos .boxh2 .links {
    width: 100%;
  }
  footer .box-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }
  footer .box-copy {
    text-align: center;
    height: auto;
    padding: 15px 0;
    border-top: 1px solid #9fabbc;
  }
  footer .box-copy p {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */